@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Mona";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Mona-Sans-Regular.otf");
}

@font-face {
  font-family: "Mona";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/Mona-Sans-Medium.otf");
}

@font-face {
  font-family: "Mona";
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/Mona-Sans-SemiBold.otf");
}

@font-face {
  font-family: "Mona";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Mona-Sans-Bold.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0A0A0F;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}